@import "_colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body {
    color: $font-color;
    background-color: $bg-color;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
    scroll-behavior: smooth;
    @import "_nav.scss";
    @import "_hi.scss";
    @import "_about.scss";
    @import "_tech.scss";
    @import "_portfolio.scss";
}
// @import "_contact.scss";
.color {
    background-color: $color;
    padding: 2px 5px;
    border-radius: 10px;
    color: #362d26;
}
.bar {
    position: fixed;
    transform: rotate(90deg);
    top: 40vh;
    left: -112px;
    padding: 1px 150px;
    background-color: black;
    border: 1px solid black;
    display: inline;
}
.contact {
    position: fixed;
    top: 70vh;
    left: 30px;
    // padding: 10px 20px;
    // height:3vw;
    // transform: rotate(90deg);
    a {
        display: block;
        font-size: 1em;
        color: black;
        margin-bottom: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .bar {
        transform: rotate(180deg);
        top: 35px;
        left: 82px;
        padding: 1px 70px;
    }
    .contact {
        position: fixed;
        top: 23px;
        left: 65vw;
        margin-left: 15px;

        a {
            display: inline;
            font-size: 1em;
            color: black;
            margin-bottom: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    #main {
        padding-bottom: -30vh;
        .KK {
            // margin-top: vh;
            margin-left: -9vh;
            font-size: 0.7em;
        }
        .hi {
            position: absolute;
            background-color: transparent;
            top: 10vh;
            // color: #cbd0cf;
        }
    }
    nav {
        .menu {
            position: fixed;
            top: 0;
            z-index: 998;
            // display: none;
            // transform: translateX(90vw);
            // left:-75px !important;

            .fas {
                color: black;
            }
        }
        ul {
            position: fixed;
            // background-color: rgb(82, 51, 51);
            // background-color: rgb(158, 78, 78);
            text-align: center;
            justify-content: space-evenly;
            width: 100vw !important;
            // height:30vh;
            // left: 100vw !important;

            // right: 0;
            transition: transform 0.3s;
            padding-left: 0;
            li:nth-child(1) {
                margin-top: 15vh;
            }
        }
        .active {
            transform: translateX(100vw);
        }
        .activeBtn {
            transform: translateX(80vw) !important;
        }
    }
    .about {
        margin-top: 5vh;
        .heading {
            font-size: 2em !important;
        }
    }





}
